*{
    margin:0;
    padding:0;
}
body{
    background: white;
}
main{
    width:100%;
    max-width:1440px;
    min-height: 100vh;
    margin-left:auto;
    margin-right:auto;
}
header{
    display:flex;
    justify-content: space-between;
    min-height:100vh;
    align-items: center;
    flex-direction: column;
    width:100%;
    max-width: 1440px;
}
.menuNav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    min-height:77px;
    font-size: 17px;
    flex-wrap:wrap;
}
header > .menuNav > span{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
}
.menuNav > nav > ul{
    min-width:400px;
}
.menuNav > nav > ul > li{
    display:inline-block;
    margin-right:3%;
}
.menuNav > button{
    width:100%;
    max-width:231px;
    min-height:68px;
    background: white;
    border-radius: 17px;
    font-size: 23px;
}
.menuNav > nav > span{
    display:none;
}
@media(max-width:700px){
    .menuNav > nav > ul{
        display:none;
    }
    .menuNav > nav > span{
        display:block;
        width:33px;
        height:3px;
        background: #b9ff77;
    }
    .menuNav > nav > span:nth-child(3){
        margin-top:7px;
        margin-bottom:7px;
    }
}

.center{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:1300px;
    min-height: 515px;
    flex-wrap: wrap;
}
.center > div{
    min-height:531px;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}
.center > div > h1{
    width:100%;
    max-width:531px;
    font-size: 53px;
}
.center > div > p{
    width:100%;
    max-width:498px;
    font-size:20px;
}
@media(max-width:700px){

}
.center > img{
    width:100%;
    max-width:601px;
}
.center > div > button{
    width:100%;
    max-width:264px;
    min-height:68px;
    border-radius:17px;
    background:black;
    color:white;
    font-size:30px;
}
header > marquee > strong{
    display:flex;
    font-size: 33px;
}

/* Article */
article{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width:1440px;
    flex-direction: column;
}
.ooK{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    max-width:1300px;
    margin-top:3%;
    margin-bottom:3%;
    min-height:51px;
}
.ooK > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    background: #b9ff77;
    /* width:100%; */
    min-width:178px;
    min-height:51px;
    border-radius:7px;
}
.ooK > p{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    min-height:51px;
    margin-left:3%;
    z-index: 3;
}
/* @media(min-width:350px){
    .ooK{
        width:calc(100% - 7%);
    }
} */
.boxWithBlocks{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:1440px;
    width:100%;
    flex-wrap: wrap;
}
.boxWithBlocks > div{
    max-width:600px;
    width:100%;
    min-height:310px;
    background-color: #F3F3F3;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 27px;
    border: 1px solid gray;
    box-shadow: 0px 3px;
    margin-right:3%;
    margin-bottom:3%;
    flex-wrap:wrap;
}
.boxWithBlocks > div:nth-child(2), .boxWithBlocks > div:nth-child(4), .boxWithBlocks > div:nth-child(6){
    margin-right:0;
}
@media(max-width:1205px){
    .boxWithBlocks > div{
        margin-right:0;
    }
}
.boxWithBlocks > div:nth-child(3){
    background-color: black;
}
.boxWithBlocks > div:nth-child(3) > div{
    background-color: black;
}
.boxWithBlocks > div:nth-child(3) > div > button{
    color:black;
    background-color: white;
}
.boxWithBlocks > div:nth-child(3) > div > button:hover{
    background-color: #b9ff77;
}
.boxWithBlocks > div:nth-child(3) > div > button::before{
    color:white;
}
.boxWithBlocks > div:nth-child(2){
    background-color:#b9ff77;
}
.boxWithBlocks > div:nth-child(2) > div{
    background-color:#b9ff77;
}
.boxWithBlocks > div:nth-child(2) > div > button{
    color:#b9ff77;
}
.boxWithBlocks > div:nth-child(2) > div > button:hover{
    background-color: #b9ff77;
    color:black;
}
.boxWithBlocks > div:nth-child(2) > div > h3 mark{
    background-color: #F3F3F3;
}
/* .boxWithBlocks > div:nth-child(2) > div > button::before{
    color:black;
} */
.boxWithBlocks > div:nth-child(5){
    background-color:#b9ff77;
}
.boxWithBlocks > div:nth-child(5) > div{
    background-color:#b9ff77;
}
.boxWithBlocks > div:nth-child(5) > div > button{
    color:#b9ff77;
}
.boxWithBlocks > div:nth-child(5) > div > button:hover{
    background-color: #b9ff77;
    color:black;
}
.boxWithBlocks > div:nth-child(5) > div > h3 mark{
    background-color: #F3F3F3;
}
.boxWithBlocks > div:nth-child(6){
    background-color: black;
}
.boxWithBlocks > div:nth-child(6) > div{
    background-color: black;
}
.boxWithBlocks > div:nth-child(6) > div > button{
    color:black;
    background-color: white;
}
.boxWithBlocks > div:nth-child(6) > div > button:hover{
    background-color: #b9ff77;
}
.boxWithBlocks > div:nth-child(6) > div > button::before{
    color:white;
}
.boxWithBlocks > div > div{
    max-width:210px;
    min-height:210px;
    background-color: #F3F3F3;
    border-radius:17px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.boxWithBlocks > div > div > h3{
    /* background: #b9ff77; */
    font-size:20px;
    /* width: 210px; */
    display: inline;
}
.boxWithBlocks > div > div > h3 > mark{
    background-color: #b9ff77;
    padding:3%;
    border-radius: 7px;
}
.boxWithBlocks > div > div > button{
    border-radius:50%;
    width:41px;
    height:41px;
    font-size: 33px;
    color:#b9ff77;
    background-color: black;
    transform:rotate(-30deg);
    position: relative;
}
.boxWithBlocks > div > div > button:hover{
    background-color: rgba(39, 39, 39, 0.7);
}
.boxWithBlocks > div > div > button:before{
    content: "Learn More";
    display:inline-block;
    position: absolute;
    color: black;
    transform: rotate(30deg);
    min-width:250px;
    top:49px;
    left:-35px;
    font-size: 18px;
}
.letsMake{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width:1300px;
    min-height:347px;
    background-color: #F3F3F3;
    border-radius: 37px;
    overflow: hidden;
    flex-wrap: wrap;
}
.letsMake > div{
    width:100%;
    max-width:500px;
    min-height:227px;
    margin-left:3%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
@media(max-width:370px){
    .letsMake > div{
        margin-left:0;
        margin-top:15px;
    }
}
.letsMake > div > button{
    width:100%;
    max-width:288px;
    height:68px;
    border-radius: 17px;
    color:white;
    background: black;
    font-size:20px;
}
.letsMake > div:nth-child(2) > img{
    width:100%;
    max-width: 359px;
    overflow: hidden;
    position: absolute;
}
.letsMake > div:nth-child(2){
    width:100%;
    max-width: 359px;
    min-height:227px;
    /* right:15%; */
    display:flex;
    justify-content: center;
    align-items: center;
}
.blackBox{
    width:100%;
    max-width:1300px;
    min-height:327px;
    background-color: #191A23;
    border-radius: 27px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.blackBox > div{
    width:286px;
    height:163px;
    margin-top:-33px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
@media(max-width:1000px){
    .blackBox > div{
        margin-top:33px;
        margin-bottom:33px;
    }
}
.blackBox > div > p{
    color:white;
    font-size: 14px;
}
.blackBox > div > button{
    background: none;
    border:none;
    color:#b9ff77;
    font-size: 20px;
    margin-top: 27px;
}
.blackBox > div > button::after{
    content: "➜";
    display:inline-block;
    transform: rotate(-30deg);
    color:#b9ff77;
    margin-left:5px;
}
.line{
    display:block;
    height:187px;
    width:2px;
    background-color: grey;
    margin-left:3%;
    margin-right:3%;
}